<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="#">beverages</a></li>
  <li role="presentation"><a href="#">food</a></li>
  <li role="presentation"><a href="#">bread</a></li>
</ul>
