
<p class="filter">
<div class="dropdown">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    sort:price
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
  	<ul>
  <li><a class="dropdown-item" href="/productcatalog/catagory/sort/price/hightolow">High to Low</a></li>
  <li><a class="dropdown-item" href="/productcatalog/catagory/sort/price/lowtohigh">Low to High</a></li>
</ul>
  </div>
</div>
<div class="dropdown">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    sort:ratings
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
  	<ul>
  <li><a class="dropdown-item" href="/productcatalog/catagory/sort/avg_ratings/hightolow">High to Low</a></li>
  <li><a class="dropdown-item" href="/productcatalog/catagory/sort/avg_ratings/lowtohigh">Low to High</a></li>
</ul>
  </div>
</div>
</p>

<div class="list-group pull-left" style="width:100%;">
  <a href="http://localhost:3000/productcatalog" class="list-group-item active">
    Catagories
  </a>
  <a href="/productcatalog/catagory/beverages" class="list-group-item list-group-item-action">beverages</a>
  <a href="/productcatalog/catagory/bars" class="list-group-item list-group-item-action">bars</a>
  <a href="/productcatalog/catagory/dairy" class="list-group-item list-group-item-action">dairy</a>
  <a href="/productcatalog/catagory/baked" class="list-group-item list-group-item-action">bakery</a>
</div>
